{{ 'info.css' | asset_url | stylesheet_tag }}

<div class="holder">
  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'info' -%}
        <div class="section">
          <div class="bold">{{ block.settings.section-header | upcase }}</div>
          <div class="main">
            {{ block.settings.section-main }}

            {% if block.settings.section-url-text and block.settings.section-url %}
              <a href="{{ block.settings.section-url }}">{{ block.settings.section-url-text }}</a>
            {% endif %}

          </div>
        </div>
    {%- endcase -%}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Info",
  "class": "info",
  "blocks": [
    {
      "type": "info",
      "name": "Info",
      "settings": [
        {
          "type": "text",
          "id": "section-header",
          "label": "Section Header"
        },
        {
          "type": "textarea",
          "id": "section-main",
          "label": "Section Main"
        },
        {
          "type": "text",
          "id": "section-url-text",
          "label": "Section URL Text"
        },
        {
          "type": "url",
          "id": "section-url",
          "label": "Section URL"
        }
      ]
    }
  ]
}
{% endschema %}
