<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'image-display.js' | asset_url }}" defer="defer"></script>
{{ 'product.css' | asset_url | stylesheet_tag }}

<div class="product">
  <div class="images">
    {%- for image in product.media -%}
      {%- assign image_id = 'image_' | append: image.position -%}
      {{
        image
        | image_url: width: 1500 
        | image_tag:
          id: image_id,
          class: 'small-product-image',
          loading: 'lazy',
          widths: '375, 750, 1100, 1500',
          alt: media.alt,
          style: 'position: relative; transform: none; left: 0; width: 100%; height: auto;'
      }}
    {%- endfor -%}
  </div>
  <div class="info">
    <div class="input">
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
      <div class="bold title">{{ product.title | upcase }}</div>
      <div class="price-color">
        <div>{{ product.options_by_name['Color'].values[0] }}</div>
        {%- render 'price',
          product: product,
          use_variant: false,
          show_badges: false
        -%}
      </div>

      <variant-radios
        id="variant-radios-{{ section.id }}"
        class="no-js-hidden"
        data-section="{{ section.id }}"
        data-url="{{ product.url }}"
        {% if update_url == false %}
          data-update-url="false"
        {% endif %}
      >
        {%- for option in product.options_with_values -%}
          <fieldset>
            {% render 'product-variant-options', product: product, option: option %}
          </fieldset>
        {%- endfor -%}
        <script type="application/json">
          {{ product.variants | json }}
        </script>
      </variant-radios>

      {%- render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true -%}

      <div class="description">{{ product.description }}</div>
    </div>
  </div>
</div>

<div class="image-display" id="image-display">
  <div class="exit">
    <div class="exit-button" id="exit_button">
      <span class="bold">EXIT</span>
    </div>
  </div>
  {%- for image in product.media -%}
    {%- assign image_id = 'large_image_' | append: image.position -%}
    {{
      image
      | image_url: width: 1500 
      | image_tag:
        id: image_id,
        loading: 'lazy',
        widths: '375, 750, 1100, 1500',
        alt: media.alt,
        style: 'width: 100%; height: auto;'
    }}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Product",
  "class": "main-product"
}
{% endschema %}
