{{ 'products.css' | asset_url | stylesheet_tag }}

<div class="products-list">
  {% for product in collections.all.products %}
    <a href="{{ product.url }}">
      <div class="card">
          <div class="image">
            {{
              product.featured_image 
              | image_url: height: 500 
              | image_tag:
                loading: 'lazy',
                widths: '100, 300, 500',
                alt: media.alt
            }}
          </div>
          <div class="info">
            <div class="bold title">{{ product.title | upcase }}</div>
            <div class="color-price">
              <div>{{ product.options_by_name['Color'].values[0] }}</div>
              <div>{{ product.price | money }}</div>
            </div>
          </div>
      </div>
    </a>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Products",
  "class": "products"
}
{% endschema %}
